@*@using ThucTapSavis_Client.Areas.Admin.Components*@
@using ThucTapSavis_Client.Components
@{
    Layout = @"~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<p>abc</p>
@(await Html.RenderComponentAsync<Test>(RenderMode.Server))






