@using ThucTapSavis_Client.Areas.Customer.Controllers;
@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />
<div class="row ">
	<div class="col-md-3">
		<hr style="border: 1px solid orangered;">
		<h3>TẤT CẢ DANH MỤC</h3>
		<hr style="border: 1px solid orangered;">
		<div class="danhmuc" style="border: 2px solid black;">
			<ul>
				@foreach (var item in _lstCate)
				{
					<li>
						<a href="/all-product/@item.TenKhongDau">@item.Name.ToUpper()</a>
					</li>
				}
			</ul>
		</div>
	</div>


	<div class="col-md-9">
		<div class="row title_tee">
			<div class="col-md-8"><h2>Tất cả sản phẩm</h2></div>
			<div class="col-md-4">
				<div class="search" style="width:100%">
					<input placeholder="Search..." type="text" style="width:100%" @bind-value="_searchProduct">
					<button type="submit" @onclick="SearchPrd">Go</button>
				</div>
			</div>
		</div>
		<div class="row showsp">

			@if (_lstPrI_show_VM == null)
			{
				<p><em>Loading...</em></p>
			}
			else
			{
				foreach (var x in BanOnlineController._pageList)
				{
					string img = _lstImg_PI.Where(c => c.ProductId == x.Id).OrderBy(c => c.STT).Select(c => c.PathImage).FirstOrDefault();
					var giamin = _lstPrI_show_VM.Where(c => c.ProductId == x.Id).Min(c => c.CostPrice);
					var giamax = _lstPrI_show_VM.Where(c => c.ProductId == x.Id).Max(c => c.CostPrice);

					<div class="col-md-4">
						<a href="/product-detail/@x.Id">
							<img class="img-thumbnail" src="/images/@img" alt="" style="width:100%;height:400px">
						</a>
						@x.Name <br>
						@{
							if (giamin == giamax || giamin == null || giamax == null)
							{
								@(giamax?.ToString("#,##0") + " VND")
							}
							else
							{
								@(giamin?.ToString("#,##0") + " - " + giamax?.ToString("#,##0") + " VND")
							}
						}
					</div>
				}
			}
		</div>
	</div>
</div>
