@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fas fa-check-circle"
                ErrorIcon="fa-solid fa-triangle-exclamation" />

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa-solid fa-check"
                ErrorIcon="fa-solid fa-triangle-exclamation" />



<div class="Login full fullsign" style="width:600px;margin: 0 auto;  margin-top: 250px;
  margin-bottom: 170px;">
    <div class="container container1">
        <div class="form login">
            <span class="title">Sign Up</span>

            <EditForm Model="user">
                <DataAnnotationsValidator />
                <div class="input-field">
                    <InputText placeholder="Họ và tên" @bind-Value="user.FullName"  />
                    <i class="fa-regular fa-user"></i>                  
                </div>
                <span><ValidationMessage style="color:red;font-size:12pt;" For="()=>user.FullName"></ValidationMessage></span>
                <div class="input-field">
                    <InputText placeholder="UserName" @bind-Value="user.UserName" />
                    <i class="fa-regular fa-user"></i>                 
                </div>
                <span><ValidationMessage style="color:red;font-size:12pt;" For="()=>user.UserName" /></span>
                <div class="input-field">
                    <InputText placeholder="Email" asp-for="Email"@bind-Value="user.Email"/>
                    <i class="fa-regular fa-envelope icon"></i>             
                </div>
                <span><ValidationMessage style="color:red;font-size:12pt;" For="()=>user.Email" /></span>
                <div class="input-field">
                    <InputText placeholder="Số điện thoại" @bind-Value="user.NumberPhone"  />
                    <i class="fa-regular fa-envelope icon"></i>               
                </div>
                <span><ValidationMessage style="color:red;font-size:12pt;" For="()=>user.NumberPhone" /></span>

                <div class="input-field">
                    <input type="password" placeholder="Mật khẩu" @bind-value="user.NewPassword"  />
                    <i class="fa-solid fa-lock icon"></i>
                    <i class="fa-regular fa-eye-slash showHidePW"></i>                  
                </div>
                <span><ValidationMessage style="color:red;font-size:12pt;" For="()=>user.NewPassword" /></span>
                <div class="input-field">
                    <input type="password" placeholder="Xác nhận mật khẩu" @bind-value="user.ConfirmNewPassword" />
                    <i class="fa-solid fa-lock icon"></i>
                    <i class="fa-regular fa-eye-slash showHidePW"></i>         
                </div>
                <span><ValidationMessage style="color:red;font-size:12pt;" For="()=>user.ConfirmNewPassword" /></span>

                <div class="checkbox-text">
                    <div class="checkbox-content">
                        <input type="checkbox" id="logCheck">
                        <label for="logCheck" class="text">Tôi không phải người máy</label>
                    </div>
                    <a href="Forgot.html" class="text">Quên mật khẩu?</a>
                </div>

                <div class="input-field button">
                    <input type="submit" @onclick="Add" value="Đăng ký">
                </div>

            </EditForm>

            <div class="login-signup">
                <span class="text">
                    Bạn đã có tài khoản?
                    <a href="Login.html" class="text signup-text">Đăng nhập</a>
                </span>
            </div>

        </div>
    </div>
</div>