
@{
    ViewData["Title"] = "About";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}
<div class="container " style="margin-top: 50px;">
    <div class="row " >
        <div class="col-md-3 " >
            <hr style="border: 1px solid orangered;"> 
            <h1 >DANH MỤC TRANG</h1>
            <hr style="border: 1px solid orangered;"> 
            <div class="danhmuc" style="border: 2px solid black;" >
                <ul >
                    <li>
                        <a href=""  >TRANG CHỦ</a>
                    </li>
                    <li>
                        <a href=""  >SẢN PHẨM</a>
                    </li>
                    <li>
                        <a href=""  >BẢNG SIZE</a>
                    </li>
                    <li>
                        <a href=""  >GIỎ HÀNG</a>
                    </li>
                    <li>
                        <a href=""  >GIỚI THIỆU</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <p class="title">GIỚI THIỆU</p>
                <p class="title">OURTERITY XIN CHÀO CÁC CẬU!</p>
                <p class="title1">
                    OURTERITY là thương hiệu thời trang nam dành cho giới trẻ theo phong cách Hàn Quốc.
                    Được thành lập tới nay được 6 năm, OURTERITY đã và đang dần trở thành một người bạn 
                    gần gũi, tin cậy và đầy mới mẻ của giới trẻ Việt trong câu chuyện ăn mặc, 
                    với Fanpage Facebook đạt gần 450.000 lượt thích, group fan cứng hơn 18.000 thành viên,
                     kênh Tiktok gần 250.000 lượt folllow.
                </p>
                <video src="~/images/videogt.mp4"  controls ></video>
                <p class="title1">OURTERITY mang đến những bộ trang phục cho khách hàng trẻ có lối sống năng động, hiện đại,
                thích trải nghiệm, lạc quan từ bên trong tâm hồn, phong cách sống lẫn gu ăn mặc. 
                Khi mặc những sản phẩm của OURTERITY, quan trọng nhất là các cậu vui vẻ, thoải mái được là 
                chính mình theo đuổi những điều mình mong muốn. </p>
                <img src="~/images/gt1.png" alt="">
                <p class="title1">
                    OURTERITY nổi bật với: <br>
                    1. Sự đa dạng: Với đầy đủ các sản phẩm từ quần áo tới các loại phụ kiện từ đầu đến chân, với nhiều dòng sản phẩm đáp ứng được cả nhu cầu đi học, đi chơi, đi làm. <br>
                    2. Sự mới mẻ: OURTERITY ra mắt các Bộ sưu tập sản phẩm mới liên tục trong tháng. <br>
                    3. Giá cả hợp lý với chất lượng, phù hợp cho các bạn học sinh, sinh viên.
                </p>
                <p class="title1">
                    CAM KẾT MUA HÀNG TẠI OURTERITY
                    Hỗ trợ đổi hàng trong 7 ngày <br>
                    Giao hàng nhanh chóng, nhận hàng được kiểm tra hàng trước khi thanh toán <br>
                    Có hình ảnh thật 100% giống mô tả <br>
                    Đặt hàng nhanh chóng, tư vấn nhiệt tình 
                </p>
                <img src="~/images/gt2.png" alt="">
            </div>

</div>
</div>
</div>

