@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}
<div class="container menu">
    <img src="https://file.hstatic.net/200000312481/file/z3949119209444_8fbde8be80833559e1e4ae7477cc13af_14b8c722c505407495bd2f3c98841131.jpg" style="width:100% " />
</div>

    <div class="container content">
        <center> <h2>Sản phẩm bán chạy</h2></center>
        <div class="row" style="margin-bottom:30px">
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
        </div>
    </div>

    <div class="container menu">
    <img src="https://file.hstatic.net/200000312481/file/z3949117698340_9fe1c067c65fd89e397d86f27e9a904c_6ad273c5b80049ca85fd1a1aec326b93.jpg" style="width:100% " />
</div>
    <div class="container content">
        <center> <h2>Sản phẩm bán chạy</h2></center>
        <div class="row" style="margin-bottom:30px">
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
            <div class="col-md-3">
                <img src="https://product.hstatic.net/200000312481/product/aho2002_1_4c1c4e1db1ed4450b31da91840bf92d7_grande.jpg"
                     class="img-thumbnail " alt="Cinque Terre"><h6>Outerity Tee Collection Té / Red</h6>
                <center>  <h6 style="color: red;">189.000 đ  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>
        </div>
    </div>
