@{
    ViewData["Title"] = "Product";
            //var  product=
}

<div class="container " style="margin-top: 50px;">
    <div class="row ">
        <div class="col-md-3 ">
            <hr style="border: 1px solid orangered;">
            <h3>TẤT CẢ DANH MỤC</h3>
            <hr style="border: 1px solid orangered;">
            <div class="danhmuc" style="border: 2px solid black;">
                <ul>
                    <li>
                        <a href="">ÁO HOODIE</a>
                    </li>
                    <li>
                        <a href="">ÁO PHÔNG</a>
                    </li>
                    <li>
                        <a href="">ÁO SWEATER</a>
                    </li>
                    <li>
                        <a href="">ÁO POLO</a>
                    </li>
                    <li>
                        <a href="">QUẦN ĐÙI</a>
                    </li>
                </ul>
            </div>
        </div>

        <form>
            <div class="col-md-9">
                <div class="row title_tee" style="margin-top:30px">
                    <h3>Tất cả sản phẩm</h3>

                </div>
                <div class="row" style="margin-bottom:30px; margin-top:50px">

                    @foreach (var a in ViewBag.Products)
                    {
                        <div class="col-md-3">
                            <a href="@Url.Action("DetailShop","Home",new{Id=a.Id})" style="text-decoration:none; color: white">
                                <img src="/images/@a.Image" class="img-thumbnail " alt="Cinque Terre">
                                <h6>@a.Name</h6>
                                <center>
                                    <h6>Giá bán: @a.Price.ToString("#,##0") đ    </h6>
                                </center>
                            </a>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <button type="button" class="btn btn-outline-dark btn1"><i class="fa-sharp fa-solid fa-backward"></i></button>
                            <button type="button" class="btn btn-outline-dark btn_next btn1">1</button>
                            <button type="button" class="btn btn-outline-dark btn_next btn1">2</button>
                            <button type="button" class="btn btn-outline-dark btn_next btn1">3</button>
                            <button type="button" class="btn btn-outline-dark btn1"><i class="fa-solid fa-forward"></i></button>
                        </center>
                    </div>
                </div>


            </div>
        </form>
    </div>

</div>
