
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

 <div class="Login full fullsign" style="width:600px;margin: 0 auto;  margin-top: 120px;
  margin-bottom: 60px;">
        <div class="container container1">
          <div class="form login">
            <span class="title">Sign Up</span>
              <form action="#">
                <div class="input-field">
                  <input type="text" placeholder="Tên người dùng">
                  <i class="fa-regular fa-user"></i>
                </div>

                <div class="input-field">
                  <input type="text" placeholder="Email">
                  <i class="fa-regular fa-envelope icon"></i>
                </div>
                
                <div class="input-field">
                  <input type="password" placeholder="Mật khẩu">
                  <i class="fa-solid fa-lock icon"></i>
                  <i class="fa-regular fa-eye-slash showHidePW"></i>
                </div>
                <div class="input-field">
                  <input type="password" placeholder="Xác nhận mật khẩu">
                  <i class="fa-solid fa-lock icon"></i>
                  <i class="fa-regular fa-eye-slash showHidePW"></i>
                </div>

                <div class="checkbox-text">
                  <div class="checkbox-content">
                    <input type="checkbox" id="logCheck">
                    <label for="logCheck" class="text">Tôi không phải người máy</label>
                  </div>
                  <a href="Forgot.html" class="text">Quên mật khẩu?</a>
                </div>

                <div class="input-field button">
                  <input type="button" value="Đăng ký">
                </div>

              </form>

              <div class="login-signup">
                <span class="text">Bạn đã có tài khoản? 
                  <a href="Login.html" class="text signup-text">Đăng nhập</a>
                </span>
              </div>

          </div>
        </div>
      </div>