@*using ThucTapSavis_Shared.ViewModel.User_VM;*@
<div class="Login full fullsign" style="width:600px;margin: 0 auto;  margin-top: 250px;
  margin-bottom: 170px;">
    <div class="container container1">
        <div class="form login">
            <span class="title">Sign Up</span>

            <EditForm Model="user">
                <DataAnnotationsValidator />
                <div class="input-field">
                    <InputText placeholder="Họ và tên" @bind-Value="user.FullName"  />
                    <i class="fa-regular fa-user"></i>
                    <ValidationMessage style="color:red;" For="()=>user.FullName"></ValidationMessage>
                </div>
                <div class="input-field">
                    <InputText placeholder="UserName" @bind-Value="user.UserName" />
                    <i class="fa-regular fa-user"></i>
                    <ValidationMessage For="()=>user.UserName" />
                </div>
                <div class="input-field">
                    <InputText placeholder="Email" asp-for="Email"@bind-Value="user.Email"/>
                    <i class="fa-regular fa-envelope icon"></i>
                    <ValidationMessage For="()=>user.Email" />
                </div>
                <div class="input-field">
                    <InputText placeholder="Số điện thoại" @bind-Value="user.NumberPhone" />
                    <i class="fa-regular fa-envelope icon"></i>
                    <ValidationMessage For="()=>user.NumberPhone" />

                </div>

                <div class="input-field">
                    <input type="password" placeholder="Mật khẩu" @bind-value="user.Password" required />
                    <i class="fa-solid fa-lock icon"></i>
                    <i class="fa-regular fa-eye-slash showHidePW"></i>
                    <ValidationMessage For="()=>user.Password" />
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Xác nhận mật khẩu">
                    <i class="fa-solid fa-lock icon"></i>
                    <i class="fa-regular fa-eye-slash showHidePW"></i>
                </div>

                <div class="checkbox-text">
                    <div class="checkbox-content">
                        <input type="checkbox" id="logCheck">
                        <label for="logCheck" class="text">Tôi không phải người máy</label>
                    </div>
                    <a href="Forgot.html" class="text">Quên mật khẩu?</a>
                </div>

                <div class="input-field button">
                    <input type="submit" @onclick="Add" value="Đăng ký">
                </div>

            </EditForm>

            <div class="login-signup">
                <span class="text">
                    Bạn đã có tài khoản?
                    <a href="Login.html" class="text signup-text">Đăng nhập</a>
                </span>
            </div>

        </div>
    </div>
</div>